{% extends "_base_lsst.html" %}{% load url from future %}
{% block page_title %} {{ viewParams.MON_VO }} PanDA filebrowser{% endblock %}
{% block title %} <a href="{% url 'index' %}">{{ viewParams.MON_VO }} PanDA monitor</a>{% endblock %}
{% block subtitle %}PanDA filebrowser{{ viewParams.selection|safe }}
{% if site %} &nbsp; site={{ site }} {% endif %}
{% if scope %} &nbsp; scope{{ scope }}
{% if lfn %} &nbsp; lfn={{ lfn }}{% endif %}
{% endblock %}
{% block body %}
<div><span style="color: navy; font-weight: bold;">File lookup parameters</span></div>
<div><br/>
<table>
{% if scope %}<tr><th>Scope</th><td>{{scope}}</td></tr>{% endif %}
{% if lfn %}<tr><th>LFN</th><td>{{lfn}}</td></tr>{% endif %}
{% if site %}<tr><th>Site</th><td>{{site}}</td></tr>{% endif %}
{% if guid %}<tr><th>GUID</th><td>{{guid}}</td></tr>{% endif %}
</table> 
</div>

{% if files %}
<div><span style="color: navy; font-weight: bold;">File listing</span></div>
<br/>
<table>
<thead>
<th>Modification time</th>
<th>Size</th>
<th>File</th>
</thead>
<tbody>
{% for f in files %}
<tr>
<td>{{f.modification}}</td>
<td>{{f.size}}</td>
<td><a href="{{MEDIA_URL}}{{dirprefix}}/{{f.name}}" >{{f.name}}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
{% if errors.missingparameter %}<div><span style="color: red; font-weight: bold;">Query error.</span> {{errors.missingparameter}}</div>{% endif %}
{% if errors.lookup %}<div><span style="color: red; font-weight: bold;">Lookup error.</span> {{errors.lookup}}</div>{% endif %}
{% if errors.download %}<div><span style="color: red; font-weight: bold;">Download error.</span> {{errors.download}}</div>{% endif %}
{% endif %}

{% endblock %}
